# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Elastic Beanstalk Files
.elasticbeanstalk/*
# eb config save file
!.elasticbeanstalk/*.cfg.yml
# eb environment setting file
!.elasticbeanstalk/*.global.yml